<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
<div ng-app="app"> <!-- the ng things are called directives can also do ng-click and ng-repeat-->
  <div ng-controller="tasksCtl" ng-init="setup()">
    <ul>
      <li ng-repeat="error in errors">{{error}}</li>
    </ul>
    <input ng-model="description">
    <!--input type="checkbox"  checked-->
    <button ng-click="createNewTask(description)">New task</button>
    <div>
      <label>Name Filter:</label>
      <input ng-model="descriptionFilter" list="data-list">
      <datalist id="data-list">
      <option ng-repeat="task in tasks">{{ task.description }}</option>
      </datalist>
    </div>
    <table border="dashed">
      <thead>
        <tr>
          <th>
            <button ng-click="sortBy('complete')">Status {{ getSortIcon('complete') }} </button>
          </th>
          <th>
            <button ng-click="sortBy('description')">Description {{ getSortIcon('description') }}</button>
          </th>
          <th>
            <button ng-click="sortBy('priority')">Priority {{ getSortIcon('priority') }}</button>
          </th>
        </tr>
      </thead>

      <tbody ng-repeat="task in tasks | filter: {description: descriptionFilter} | orderBy: sortAttribute : sortDescending">
        <tr>
          <td><input type="checkbox" ng-model="taskComplete" ng-checked="task.complete"  ng-click="toggleComplete(task, taskComplete)"></td>
          <td>{{ task.description }}</td>
          <td>{{ task.priority }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

